[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
tensorflow = "==1.*"
keras = "==2.3.1"
pillow = "*"
h5py = "==2.10.0"
importlib-metadata = "==1.7.0"

[requires]
python_version = "3.7"
